/*
 * Font config
 */
 @import url('https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy&display=swap');
.u-font {
  font-family: 'Satisfy', cursive;
}
/*
 * Color config
 */
a {
  color: #547A9A;
}
 blockquote p {
  border-left: #547A9A 3px solid;
}
.index-line span {
  border-top: #547A9A 3px solid;
}
.main-content h1::before, .main-content h2::before, .main-content h3::before, .main-content h4::before, .main-content h5::before, .main-content h6::before {
  color: #547A9A;
}

.site-nav .site-nav__el {
  font-size: .9rem;
}

.main-profile {
  border: none;
}
.main-profile .main-profile__avatar {
  background-color: white;
  right: 0;
}
.main-profile .main-profile__body {
  display: flex;
  padding: 2.5vmin 16vmin 2.5vmin 5vmin;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  text-align: right;
}
@media screen and (max-width: 800px) {
  .main-profile .main-profile__body {
    padding: 2.5vmin 26vmin 2.5vmin 3vmin; 
  } 
}
.main-profile .main-profile__description {
  line-height: 1;
  margin: .5vh 0;
}
.main-profile .main-profile__body .main-profile__email {
  font-size: .7rem;
}